body{
	background: url(../images/bg4.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Roboto Condensed', sans-serif;
}

/* first */
h1 {
	color: white;
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 0;

}

h2{
	color: white;
	font-size: 45px;

}

/* third */
.bio {
	color: white;
	font-size: 25px;
	
}

/* fourth */

.me {
	height: 250px;
	border-radius: 80%;
	border-style: solid;
	border-color: silver;
	margin-top: 80px;

}
/* fifth */
.about{
	font-size: 35px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: auto;

}


